@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
    color: white;
    display: flex;
    min-height: screen;
}
.black{
    color: black;
}
[x-cloak] {
    display: none !important;
}
.max-w-800 {
    max-width: 700px;
}

.max-h-800 {
    max-height: 700px;
}

tr:hover td {
    color: black; /* Change text color to black */
    border-color: black;
}
table {
    border-collapse: collapse; /* Ensures single borders */
}