@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Nunito', sans-serif;
    color: white;
    display: flex;
    min-height: screen;
}
.black{
    color: black;
}
[x-cloak] {
    display: none !important;
}
